{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ main_siteurl }}/theme/css/blog.css" />
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block cover %}
    <div id="cover">
        <h1 class="entry-title">
          <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
             title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
        </h1>
    </div>
{% endblock %}

{% block content %}
{% import 'translations.html' as translations with context %}

<section id="article" class="body">
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}

  <p class="post-info">
    {% if article.authors %}
        Posté le <time class="published" datetime="{{ article.date.isoformat() }}">
          {{ article.locale_date }}
        </time>
        {% if article.modified %}
        <time class="modified" datetime="{{ article.modified.isoformat() }}">
          {{ article.locale_modified }}
        </time>
        {% endif %}
    {% endif %}
    </p>
  <div class="entry-content">
    {{ article.content }}
  </div>
</section>
{% endblock %}
