<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ main_siteurl }}/theme/css/fork-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ main_siteurl }}/theme/css/pygments.css" />
        <link rel="stylesheet" type="text/css" href="{{ main_siteurl }}/theme/css/style.css" />

        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(slug=category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(slug=tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}

        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(slug=category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(slug=tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}

        {% endblock head %}
</head>
<body>
    <header>
        <h2>
            <a href="{{ SITEURL }}/">
                <img src="{{ main_siteurl }}/theme/images/logo.png" title="Kresus logo"/>
                {{ SITENAME }}
            </a>
        </h2>

        <label for="menu">
            <span class="fa fa-navicon"></span>
        </label>
        <input id="menu" type="checkbox" autocomplete="off" />

        <nav>
            <ul>
                <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/blog">Blog</a></li>
            {% if DISPLAY_PAGES_ON_MENU %}
              {% for p in pages %}
                <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
              {% endfor %}
            {% endif %}
            </ul>
            {% if extra_siteurls %}
                <select class="lang-selector" onchange="location.href = event.target.value;">
                    <option selected="selected">{{ DEFAULT_LANG | lookup_lang_name }}</option>
                    {% for lang, url in extra_siteurls.items() %}
                        <option value="{{ url }}/{{ output_file }}">{{ lang | lookup_lang_name }}</option>
                    {% endfor %}
                </select>
            {% endif %}

            <ul class="social">
                <li>
                    <a href="https://framagit.org/kresusapp/kresus" class="fa fa-code" title="Code"></a>
                </li>
                <li>
                    <a href="https://tutut.delire.party/@kresus" class="fa fa-mastodon"></a>
                </li>
                <li>
                    <a href="https://twitter.com/kresusapp" class="fa fa-twitter" title="Twitter"></a>
                </li>
                <li>
                    <a href="https://webchat.freenode.net/?channels=%23kresus" class="fa fa-comments" title="IRC"></a>
                </li>
                <li>
                    <a href="https://community.kresus.org" class="fa fa-users" title="Forum"></a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
    {% block cover %}{% endblock %}

    {% block content %}
    {% endblock %}
    </main>

    <footer id="footer">
        <div>
            <div class="us">
                {% for p in hidden_pages if p.metadata.is_footer and p.lang == DEFAULT_LANG %}
                    <h6>{{ p.title }}</h6>
                    <div>{{ p.content }}</div>
                {% endfor %}
            </div>

            <ul class="social">
                <li>
                    <a href="https://framagit.org/kresusapp/kresus">
                        <span class="fa fa-code"></span> {% trans %}Lisez notre code{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="https://tutut.delire.party/@kresus">
                        <span class="fa fa-mastodon"></span> {% trans %}Suivez-nous sur{% endtrans %} Mastodon
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/kresusapp">
                        <span class="fa fa-twitter"></span> {% trans %}Suivez-nous sur{% endtrans %} Twitter
                    </a>
                </li>
                <li>
                    <a href="https://webchat.freenode.net/?channels=%23kresus">
                        <span class="fa fa-comments"></span> {% trans %}Venez discuter sur IRC{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="https://community.kresus.org">
                        <span class="fa fa-users"></span> {% trans %}Rejoignez la communauté sur notre forum{% endtrans %}
                    </a>
                </li>
            </ul>
        </div>

        <p class="pelican">
            {% trans %}Ce site est fièrement propulsé par{% endtrans %} <a href="http://getpelican.com/">Pelican</a>,
            {% trans %}qui tire largement profit de{% endtrans %} <a href="http://python.org">Python</a>.
        </p>
    </footer>

    {% include "includes/fathom.html" %}
</body>
</html>
