{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ main_siteurl }}/theme/css/documentation.css" />
    {% if page.description %}
        <meta name="description" content="{{article.description}}" />
    {% endif %}
{% endblock %}

{% block cover %}
    <div id="cover">
        <h1>{{ page.title }}</h1>
    </div>
{% endblock %}

{% block content %}
    {% import 'translations.html' as translations with context %}
    <div id="documentation">
    {% for p in hidden_pages if p.metadata.is_doc %}
        <a href="{{ p.url }}">
            <h2>{{ p.title }}</h2>
            <p>{{ p.summary }}</p>
        </a>
    {% endfor %}
    </div>
{% endblock %}
