{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ main_siteurl }}/theme/css/home.css" />
{% endblock %}

{% block content %}
    {% import 'translations.html' as translations with context %}

    <div id="cover">
        <div id="cover-content">
            <h1 class="main-title">{% trans %}Tous vos comptes bancaires, à un seul endroit{% endtrans %}</h1>
            <p class="punchline">
                {% trans %}Kresus est un gestionnaire de finances personnelles gratuit et libre qui tourne sur votre serveur. Il récupère automatiquement et quotidiennement toutes vos nouvelles transactions bancaires et vous permet de les catégoriser, étudier via des graphiques, et établir un budget.{% endtrans %}
            </p>
            <p class="download">
                <a class="button try" href="demo.html">{% trans %}Essayer{% endtrans %}</a>
                <span> {% trans %}ou{% endtrans %} </span>
                <a class="button install" href="install.html">{% trans %}Installer{% endtrans %}</a>
            </p>

            <p class="next">
                <a href="#firstFeature">
                    <span class="fa fa-angle-down"></span>
                </a>
            </p>
        </div>
    </div>

    {{ page.content }}
{% endblock %}